@use '../../global' as g;

.home-wrapper {
    width: 100vw;
    > main {
        > .tweets-container {
            width: 100%;
            position: absolute;
            top: 55.39px;
            left: 0;
            bottom: 52.19px;
            overflow-y: auto;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            > .no-more-tweets {
                font-size: 1rem;
                font-weight: 600;
                color: #FFFFFF;
                margin: 2rem auto;
                width: 100%;
                text-align: center;
            }
        }
    }
}
