.home-wrapper {
    width: 100vw;
    > .tweets-container {
        width: 100%;
        position: absolute;
        top: 55.39px;
        left: 0;
        bottom: 52.19px;
        overflow-y: scroll;
    }
}